<a href="https://colab.research.google.com/github/MercyNgila/stutern-/blob/main/Stutern_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Connect colab to drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Import relevant libraries
import sqlite3 as sq3
import pandas as pd
import pandas.io.sql as pds

In [3]:
# Loading dataset
sq_data = sq3.Connection('/content/drive/MyDrive/attr_data.db')

In [11]:
# Expand dataframe view
pd.set_option('display.max_columns', None)

In [12]:
# Print tables in data
tables = pd.read_sql('SELECT * FROM sqlite_master', sq_data)
print(tables)

    type               name           tbl_name  rootpage  \
0  table  attrition_records  attrition_records         2
1  table    sqlite_sequence    sqlite_sequence         3

                                                 sql
0  CREATE TABLE attrition_records (\n            ...
1             CREATE TABLE sqlite_sequence(name,seq)

In [13]:
# Check overview of tables
query2 = '''
SELECT 
    *
FROM
    sqlite_sequence;
    '''

sequence = pd.read_sql(query2, sq_data)

print(sequence)

                name   seq
0  attrition_records  1470

In [16]:
# Check overview of tables
query1 = '''
SELECT 
    *
FROM
    attrition_records;
    '''

attr = pd.read_sql(query1, sq_data)

print(attr)

        id  Age Attrition     BusinessTravel  DailyRate  \
0        1   41       Yes      Travel_Rarely       1102
1        2   49        No  Travel_Frequently        279
2        3   37       Yes      Travel_Rarely       1373
3        4   33        No  Travel_Frequently       1392
4        5   27        No      Travel_Rarely        591
...    ...  ...       ...                ...        ...
1465  1466   36        No  Travel_Frequently        884
1466  1467   39        No      Travel_Rarely        613
1467  1468   27        No      Travel_Rarely        155
1468  1469   49        No  Travel_Frequently       1023
1469  1470   34        No      Travel_Rarely        628

                  Department  DistanceFromHome  Education EducationField  \
0                      Sales                 1          2  Life Sciences
1     Research & Development                 8          1  Life Sciences
2     Research & Development                 2          2          Other
3     Research & Development                 3          4  Life Sciences
4     Research & Development                 2          1        Medical
...                      ...               ...        ...            ...
1465  Research & Development                23          2        Medical
1466  Research & Development                 6          1        Medical
1467  Research & Development                 4          3  Life Sciences
1468                   Sales                 2          3        Medical
1469  Research & Development                 8          3        Medical

      EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  Gender  \
0                 1               1                        2  Female
1                 1               2                        3    Male
2                 1               4                        4    Male
3                 1               5                        4  Female
4                 1               7                        1    Male
...             ...             ...                      ...     ...
1465              1            2061                        3    Male
1466              1            2062                        4    Male
1467              1            2064                        2    Male
1468              1            2065                        4    Male
1469              1            2068                        2    Male

      HourlyRate  JobInvolvement  JobLevel                    JobRole  \
0             94               3         2            Sales Executive
1             61               2         2         Research Scientist
2             92               2         1      Laboratory Technician
3             56               3         1         Research Scientist
4             40               3         1      Laboratory Technician
...          ...             ...       ...                        ...
1465          41               4         2      Laboratory Technician
1466          42               2         3  Healthcare Representative
1467          87               4         2     Manufacturing Director
1468          63               2         2            Sales Executive
1469          82               4         2      Laboratory Technician

      JobSatisfaction MaritalStatus  MonthlyIncome  MonthlyRate  \
0                   4        Single           5993        19479
1                   2       Married           5130        24907
2                   3        Single           2090         2396
3                   3       Married           2909        23159
4                   2       Married           3468        16632
...               ...           ...            ...          ...
1465                4       Married           2571        12290
1466                1       Married           9991        21457
1467                2       Married           6142         5174
1468                2       Married           5390        13243
1469                3       Married           4404        10228

      NumCompaniesWorked Over18 OverTime  PercentSalaryHike  \
0                      8      Y      Yes                 11
1                      1      Y       No                 23
2                      6      Y      Yes                 15
3                      1      Y      Yes                 11
4                      9      Y       No                 12
...                  ...    ...      ...                ...
1465                   4      Y       No                 17
1466                   4      Y       No                 15
1467                   1      Y      Yes                 20
1468                   2      Y       No                 14
1469                   2      Y       No                 12

      PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                     3                         1             80
1                     4                         4             80
2                     3                         2             80
3                     3                         3             80
4                     3                         4             80
...                 ...                       ...            ...
1465                  3                         3             80
1466                  3                         1             80
1467                  4                         2             80
1468                  3                         4             80
1469                  3                         1             80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
1                    1                 10                      3
2                    0                  7                      3
3                    0                  8                      3
4                    1                  6                      3
...                ...                ...                    ...
1465                 1                 17                      3
1466                 1                  9                      5
1467                 1                  6                      0
1468                 0                 17                      3
1469                 0                  6                      3

      WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                   1               6                   4
1                   3              10                   7
2                   3               0                   0
3                   3               8                   7
4                   3               2                   2
...               ...             ...                 ...
1465                3               5                   2
1466                3               7                   7
1467                3               6                   2
1468                2               9                   6
1469                4               4                   3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 36 columns]

Task 1

What do you think are the 3 factors behind employee attrition?